.bottom_color{
    background-color: #0A223D;
}
div {
    color: aliceblue;
}

.reserve{
    background-color: #eaeaea;
}
.reservation{
    color: black !important;
    text-align: center;
    /* margin: 0 auto; */
}