<div style="height: 20px;background-color: #F5FAFE;">

</div>
<div class="bottom_color">
    <div class="container" style="padding-top: 20px;padding-bottom: 20px;">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <img class="img-responsive" src="/assets/images/logowhite.png" alt="gadgetin.in">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;">INFORMATIONS</span><br>
                <a routerLink="/a/aboutus" style="color: #F5FAFE;">About us</a><br>
                <a routerLink="/a/contactus" style="color: #F5FAFE;">Contact Us</a><br>
                <a routerLink="/a/sitemap" style="color: #F5FAFE;">Sitemap</a><br>
                <a routerLink="/a/privacypolicy" style="color: #F5FAFE;">Privacy Policy</a><br>
                <a routerLink="/a/termsandconditions" style="color: #F5FAFE;">Terms & Conditions</a><br>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;">SEARCH BY BRAND</span><br>
                <a [routerLink]="['/oppo']" style="color: #F5FAFE;">Oppo</a><br>
                <a [routerLink]="['/vivo']" style="color: #F5FAFE;">Vivo</a><br>
                <a [routerLink]="['/samsung']" style="color: #F5FAFE;">Samsung</a><br>
                <a [routerLink]="['/lg']" style="color: #F5FAFE;">LG</a><br>
                <a [routerLink]="['/xiaomi']" style="color: #F5FAFE;">Xiaomi</a><br>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;">TOP MOBILES</span><br>
                <a [routerLink]="['/realme/7']" style="color: #F5FAFE;">Realme 7</a><br>
                <a [routerLink]="['/poco/x3']" style="color: #F5FAFE;">Poco X3</a><br>
                <a [routerLink]="['/realme/7-pro']" style="color: #F5FAFE;">Realme 7 Pro</a><br>
                <a [routerLink]="['/poco/m2-pro']" style="color: #F5FAFE;">Poco M2 Pro</a><br>
                <a [routerLink]="['/motorola/moto-e7-plus']" style="color: #F5FAFE;">Moto E7 Plus</a><br>
            </div>

        </div>

    </div>
</div>


<div class="reserve">
    <div class="container">
        <div class="reservation vertical-center">
        © 2020 gadgetin.in All Rights Reserved.
    </div>
    </div>
</div>