<div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="top">
    <div class="container">
      we are under development!! mail your thought to support@gadgetin.in
    </div>
  </div>
  

  <div class="search_bar row">
    <div class="container search_container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img class="img-responsive" src="/assets/images/logo.png" alt="gadgetin.in">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 col-xl-8">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Mobiles" name="search"
                [(ngModel)]="search_item" (ngModelChange)="charChange()" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">

                <mat-option *ngFor="let opt of mobiles" [value]="opt.mobileNames.mobile_name"
                  (onSelectionChange)="selectMobile(opt.mobileNames.brandName.brand_name,opt.mobileNames.mobile_name,opt.mobile_variants)">
                  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                  <div class="row">
                    <div class="col-auto">
                      <img style="height: 50px; width:auto;" class="img-responsive"
                        src="{{opt.mobileNames.mobile_image}}" alt="Chania"></div>
                    <div class="col-auto">{{opt.mobileNames.brandName.brand_name}} {{opt.mobileNames.mobile_name}}<br>
                      <small>{{opt.mobile_variants}}</small></div>
                    <div class="col-auto">{{opt.mobileGeneral.price}}</div>
                  </div>
                </mat-option>

              </mat-autocomplete>
              <div class="input-group-btn">
                <button class="btn btn-primary" (click)="searchButtonClick()" type="button">
                  <img src="/assets/icons/search-white-18dp.svg" class=imgser alt="search icon">
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- search item listed in loop -->
  <!-- <div *ngFor='let mov of movies'>
  <p>{{mov.brand_name}}</p>
</div> -->


  <div class="menu">
    <div class="container containers">
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand d-md-none d-lg-none d-xl-none" routerLink="/">GadgetIn.in</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact : true}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/phone-list']" [queryParams]="{mobileNames__phone_type:'SMARTPHONE'}" routerLinkActive="active">Mobiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/phone-list']" [queryParams]="{mobileNames__phone_type:'TABLET'}" routerLinkActive="active">Tablets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/articles/Here%20is%20the%20full%20list%20of%20banned%20Chinese%20apps%20in%20India%20%28Total%20of%20219%20apps%29']" routerLinkActive="active">Reviews & News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  disabled" routerLink="/phone-compare" routerLinkActive="active">Compare Phones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" [routerLink]="['/phone-details/POCO/M2',{variant:'6 GB RAM, 64 GB Storage'}]"
                routerLinkActive="active">Headphones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLink="/ssarticlesf" routerLinkActive="active">Wearables</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</div>