<div class="main-color">
    <div class="container">
        <div class="padding">
            <div class="white-color"  style="min-height: 500px;">
                <mat-progress-spinner style="margin:0 auto;" *ngIf="isLoading" mode='indeterminate' value='20'>
                </mat-progress-spinner>

                <div>
                    <div [innerHTML]="vArticle?.content"></div>
                    <!-- {{vArticle.content}} -->
                    <!-- {{vArticle[0].content}} -->
                </div>

            </div>
        </div>
    </div>
</div>