/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; margin: 0px;
    padding: 0px;
    overflow-x: hidden; }
body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-color{
    background-color: #F5FAFE;
}
.padding{
    padding: 20px 0px 0px 0px;
}
.white-color{
    background-color: white;
    padding: 20px;
}

/* transitions starts here */
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.transition {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    /* background: #f6f7f8; */
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    position: relative;
    overflow: hidden;
}